//COLORS
$background-gray: #eee;
$pricing-primary: #4692f5;
$pricing-secundary: #346eeb;

// FULL HEADER

// FEATURES

// ABOUT
.about{
    background:$background-gray;
}

// TESTIMONIALS
.carousel-craze { // Carousel
    width: 100%;
    text-align:center;
    height: -webkit-fill-available;
    overflow: hidden; 
    position:relative;
    .ca-slides{ //slides
        position:relative;
        min-height:150px;
        .ca-slides-item{
            visibility: hidden; 
            position: absolute; 
            left: 0; 
            right: 0; 
            top:20%;
            margin-left: auto; 
            margin-right: auto;
        } 
        .active{
            visibility: visible;
        }
    }

    .ca-circles{ // slides circles
        position:relative;
        .ca-circles-item{
            display:inline-block;
            margin-left: 5px;
            width:15px;
            height:15px;
            cursor:pointer;
            border-radius:50%;
            border:1px solid #1d1818;
        }
        .active{
            position:relative;
            &:before{
                content: '';
                top: 0.7px;
                left: 0.3px;
                background:#767676;
                position:absolute;
                width:90%;
                height:90%;
                border-radius:50%;
            }
        }
    }
}

// PRICING TABLES
.pricing{
    position:relative;
    &:before{
        content:'';
        width:100%;
        height:80%;
        position:absolute;
        top:0;
        left:0;
        background: $background-gray;
        z-index:-1;
    }
}
.pricing-table{
    .pricing-table-item{
        margin: 0 -13px;
        cursor:pointer;
        .pr-header{
            color:#fff;
            background:$pricing-primary;
            padding:3px 5px;
        }
        .pr-content{
            background:#fff;
            color:#4e4e4e;
            padding:5px 30px;
            .pr-price{}
            .pr-feature{
                border-top:1px solid #b9b8b8;
            }
        }
        .pr-footer{
            background:$pricing-primary;
            padding:15px 30px;
            .pr-purchase{
                background:$pricing-secundary;
                padding:5px;
                color:#fff;
            }
        }
    }
    .pr-featured{
        transform: scaleY(1.2);
    }
}